.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 1em;
  font-weight: 800;
  text-align: center;
}

.search {
  padding: 10px;
  background-color: #e6eaeb;
  display: flex;
  text-align: center;
  justify-content: center;
}

.circular-progress {
  background-color: #a2b5ba;
  border-radius: 50%;
  font-weight: 800;
  margin-top: -60px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #c6cad0;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background-color: #c6cad0;
  display: flex;
  justify-content: center;
}

.link{
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.em;
  font-weight: 800;
  color: #383737;
}

.link:hover{
  color: #42730a;
}

.outlet{
  margin-bottom: 55px;
}